<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Drogenkosnum Dokumentierenr</title>
</head>
<body>
  <h1>Willkommen!</h1>
  <button onclick="trigger()">Jetzt eintragen!</button>

  <script>
    function trigger() {
      fetch("https://primary-production-19c3.up.railway.app/webhook-test/c8e52f3c-e0aa-4add-a482-dae8349616ff", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({ from: "button" })
      }).then(() => alert("Drogenkonsum dokumentiert!"));
    }
  </script>
</body>
</html>
